.game h1 {
    font-size: 2.5em;
}

.points span {
    font-weight: bold;
}

.score {
    color: #75a5ff;
}

.tip span {
    color: #75a5ff;
}

.wordContainer {
    margin: 1.5em;
    padding: 1.5em;
    border: 20px solid #75a5ff;
    display: flex;
}

.letter,
.blankSquare {
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid #000000;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}

.letterContainer {
    margin-bottom: 1.2em;
}

.letterContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer input {
    height: 50px;
    width: 50px;
    font: 2em;
    text-align: center;
    margin-right: 1em;
}

.paragraph {
    color: #75a5ff;
    font-size: 1.3em;
}